@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  /* background-color: #1ee494; */
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.chatroom {
  /* width: 360px; */
  width: 100%;
  /* height: 600px; TODO: */
  /* height: 100%; */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.chatroom h3 {
  font-family: "Pacifico", cursive;
  background-color: rgba(30, 228, 148, 0.7);
  color: #fff;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chats {
  /* width: 50%; */
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 700px;

  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(176, 236, 247, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 30%; /* тут можно поправить, чтобы не так убого было */
  max-width: 200px;
}
.chatroom .chats .chat small {
  display: block;
  text-align: left;
  font-style: italic;
  color: red;
}

.chatroom .chats .chat img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
  background: rgba(247, 201, 201, 0.8);
}

.chatroom .chats .chat.right small {
  display: block;
  text-align: right;
  font-style: italic;
  color: red;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: #3498db;
}

.chatroom .input {
  height: 40px;
  width: 100%;
  background: rgba(30, 228, 148, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.chatroom .input input[type="text"] {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #1ee494;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 50%;
  box-sizing: border-box;
  font-size: 14px;
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 1px solid #1ee494;
  height: 30px;
  width: 70px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #1ee494;
  color: #fff;
}

.emojiPicker {
  z-index: 1000;
  /* margin-bottom: 50%; */
}

span.finded {
  /* color: red !important; */
  background-color: rgb(185, 255, 73) !important;
}

/* form.input {
  width: 100% !important;
} */
