div.wrapper {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
}

form.wrapper__form {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 25%;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.links__link {
  text-decoration: none;
}

.submit_button {
  margin: 20px;
}

.social_buttons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
